<%= link_to 'Sign out', session_path, data: { turbo_method: :delete } %>

<h3>Your Security Keys</h3>
<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<ul>
  <% Current.user.webauthn_credentials.each do |credential| %>
    <li>
      <span>
        <span>
          <%= credential.nickname %>
        </span>

        <span>
          <%= credential.external_id %>
        </span>
      </span>

      <% if Current.user.can_delete_credentials? %>
        <%= link_to "Delete credential", passkey_path(credential), data: { turbo_method: :delete } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add credential', new_passkey_path %>
