<%= link_to 'Sign out', session_path, data: { turbo_method: :delete } %>

<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<%= render partial: "credentials_list", locals: {
  title: "Your Passkeys",
  credentials: Current.user.passkeys,
  delete_path: ->(credential) { passkey_path(credential) }
} %>

<%= render partial: "credentials_list", locals: {
  title: "Your Second Factor Keys",
  credentials: Current.user.second_factor_webauthn_credentials,
  delete_path: ->(credential) { second_factor_webauthn_credential_path(credential) }
} %>

<div>Passkeys: <%= link_to 'Add Passkey', new_passkey_path %></div>
<div>2FA: <%= link_to 'Add Second Factor Key', new_second_factor_webauthn_credential_path %></div>
