<h2>Sign in</h2>

<%= form_with(
  scope: :session,
  url: main_app.session_path,
  id: "new-session",
  data: {
    controller: "webauthn--rails--credentials",
    action: "webauthn--rails--credentials#get:prevent",
    "webauthn--rails--credentials-options-url-value": main_app.get_options_session_path,
  }) do |form| %>
  <%= render "shared/error_messages" %>

  <div class="field">
    <p><%= form.label :username %></p>
    <p><%= form.text_field :username, autofocus: true, autocapitalize: "none", required: true %></p>
  </div>

  <%= form.hidden_field :public_key_credential, data: { "webauthn--rails--credentials-target": "credentialHiddenInput" } %>

  <div class="actions">
    <%= form.submit "Sign in" %>
  </div>
<% end %>

<%= link_to "Sign up", main_app.new_registration_path %>
