<h2>Sign up</h2>

<%= form_with(
  scope: :registration,
  url: registration_path,
  id: "new-registration",
  data: {
    controller: "webauthn-credentials",
    action: "webauthn-credentials#create:prevent",
    "webauthn-credentials-options-url-value": create_options_registration_path,
  }) do |form| %>

  <div class="field">
    <p><%= form.label :username %></p>
    <p><%= form.text_field :username, autofocus: true, autocapitalize: "none", required: true %></p>
  </div>

  <div class="field">
    <p><%= form.label :nickname, 'Security Key nickname' %></p>
    <p><%= form.text_field :nickname, required: true %></p>
  </div>

  <%= form.hidden_field :public_key_credential, data: { "webauthn-credentials-target": "credentialHiddenInput" } %>

  <div class="actions">
    <%= form.submit "Sign up" %>
  </div>
<% end %>

<%= link_to "Sign in", new_session_path %>
