<%= form_with(
  scope: :credential,
  url: webauthn_rails.credentials_path,
  data: {
    controller: "webauthn--rails--credentials",
    action: "webauthn--rails--credentials#create:prevent",
    "webauthn--rails--credentials-options-url-value": webauthn_rails.create_options_credentials_path,
  }) do |form| %>
  <%= render "webauthn/rails/shared/error_messages" %>

  <div class="field">
    <%= form.label :nickname, 'Security Key nickname' %>
    <%= form.text_field :nickname, required: true %>
  </div>

  <%= form.hidden_field :public_key_credential, data: { "webauthn--rails--credentials-target": "credentialHiddenInput" } %>

  <div>
    <%= form.submit "Add Security Key" %>
  </div>
<% end %>
