<div data-controller="webauthn--rails--add-credential">
  <%= form_with scope: :credential, url: webauthn_rails.credentials_path, data: { action: "turbo:before-fetch-response->webauthn--rails--add-credential#create" } do |form| %>
    <%= render "webauthn/rails/shared/error_messages" %>

    <div class="field">
      <%= form.label :nickname, 'Security Key nickname' %>
      <%= form.text_field :nickname, required: true %>
    </div>

    <div>
      <%= form.submit "Add Security Key" %>
    </div>
  <% end %>
</div>
