<h2>Sign in</h2>

<%= form_with(
  scope: :session,
  url: webauthn_rails.session_path,
  id: "new-session",
  data: {
    controller: "webauthn--rails--new-session",
    action: "webauthn--rails--new-session#create:prevent",
    "webauthn--rails--new-session-options-url-value": webauthn_rails.get_options_session_path,
  }) do |form| %>
  <%= render "webauthn/rails/shared/error_messages" %>

  <div class="field">
    <p><%= form.label :username %></p>
    <p><%= form.text_field :username, autofocus: true, autocapitalize: "none", required: true %></p>
  </div>

  <%= form.hidden_field :public_key_credential, data: { "webauthn--rails--new-session-target": "credentialHiddenInput" } %>

  <div class="actions">
    <%= form.submit "Sign in" %>
  </div>
<% end %>

<%= link_to "Sign up", webauthn_rails.new_registration_path %>
